<#@ template hostspecific="true" language="C#" debug="false" #>
<#@ output extension=".cs" #>
<#@ assembly name="E:\Learning\HCMUS\2018-2019\Mau Thiet Ke Huong Doi Tuong Va Ung Dung\FinalProject\niffler-dam-framework\Niffler\Niffler\bin\Release\NifflerConnection.dll" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="NifflerConnection.Connection" #>
<#@ import namespace="NifflerConnection.ORM" #>
<#@ import namespace="System.Reflection" #>
<#@ include file="TemplateFilemanager.CS.ttinclude" #>
<#
string connectionString = "Data Source=DESKTOP-DJBU6V7\\SQLEXPRESS;Initial Catalog=QuanLyChuyenBay;Integrated Security=True";
string namespaceTitle = "TestProject";
RDBMSConnection connection = new SQLServerConnection(connectionString);

var manager = TemplateFileManager.Create(this);

ORM orm = new ORM(connection);
Database database = orm.Mapping();
List<string> tableNames = database.GetListTableNames();
foreach (var tableName in tableNames) 
{
	Table current = database[tableName];
	manager.StartNewFile(tableName + ".cs");
	#>namespace <#= namespaceTitle #>
{
	using System;
    using System.Collections.Generic;
	using System.Data;
	using NifflerConnection.Connection;

	public class <#= tableName #>
	{
		public <#= tableName #>()
		{
		}

		public <#= tableName #>(DataRow dr, NifflerContext context)
		{
<#
			foreach(var rela in current.Relationships.Values) 
			{
				if (rela.Type == RelationshipType.Multiple) 
				{
					string rTable = rela.Table.Name;
#>			this._<#= rela.Table.Name #>s = null;
			this.Get<#= rela.Table.Name #>s = new Func<List<<#= rela.Table.Name #>>>(
				() => {
					return context.GetForeignKeyData<<#= tableName #>,<#= rTable #>>(this, "<#= tableName #>", "<#= rTable #>");
				}
			);							
<#
				}
				if (rela.Type == RelationshipType.One) 
				{
					string rTable = rela.Table.Name;
#>			this._<#= rela.Table.Name #> = null;
			this.Get<#= rela.Table.Name #> = new Func<<#= rela.Table.Name #>>(
				() => {
					return context.GetForeignKeyData<<#= tableName #>,<#= rTable #>>(this, "<#= tableName #>", "<#= rTable #>")[0];
				}
			);
<#
				}
			}

			foreach(NifflerConnection.ORM.Attribute attr in database[tableName].GetAttributes())
			{
#>
			try { <#= attr.Name #> = (<#= attr.GetTypeName() #>)dr["<#= attr.Name #>"]; } catch { };
<#			
			}
#>			
		}

		public override bool Equals(object obj)
		{
			<#= tableName #> e = (<#= tableName #>)obj;
			if (e == null) return false;
			return true<#			
			Table tmp = database[tableName];
			List<NifflerConnection.ORM.Attribute> attributes_tmp = tmp.GetAttributes();
			foreach (var attr in attributes_tmp)
			{
				if (attr.IsPrimaryKey == true) {
				#> && <#= attr.Name #> == e.<#= attr.Name #><# 
				}
			}
#>;
		}

		public override int GetHashCode()
		{
			object[] objs = { null<#			
			foreach (var attr in attributes_tmp)
			{
				if (attr.IsPrimaryKey == true) {
				#>, <#= attr.Name #><# 
				}
			}
#> };			
			unchecked
			{				
				int result = 7;
				foreach (var obj in objs)
				{
					result += result * 17 + ((obj == null) ? 0 : obj.GetHashCode());   
				}
				return result;
			}
		}

	<#
		Table table = database[tableName];
		List<NifflerConnection.ORM.Attribute> attributes = table.GetAttributes();
		foreach (var attr in attributes) { #>
		
		public <#= attr.GetTypeName() #> <#= attr.Name #> { get; set; } 
<# } #><# 
		foreach(var rela in current.Relationships.Values)
		{
			if (rela.Type == RelationshipType.Multiple)
			{
#>
		
		private List<<#= rela.Table.Name #>> _<#= rela.Table.Name #>s;
		Func<List<<#= rela.Table.Name #>>> Get<#= rela.Table.Name #>s; 
		public List<<#= rela.Table.Name #>> <#= rela.Table.Name #>s 
		{
			get
			{
				if (_<#= rela.Table.Name #>s == null)
					_<#= rela.Table.Name #>s = Get<#= rela.Table.Name #>s();
				return _<#= rela.Table.Name #>s;
			}
		}
<#
			} 
			else if (rela.Type == RelationshipType.One) 
			{
#>

		private <#= rela.Table.Name #> _<#= rela.Table.Name #>;
		Func<<#= rela.Table.Name #>> Get<#= rela.Table.Name #>; 
		public <#= rela.Table.Name #> <#= rela.Table.Name #> 
		{
			get
			{
				if (_<#= rela.Table.Name #> == null)
					_<#= rela.Table.Name #> = Get<#= rela.Table.Name #>();
				return _<#= rela.Table.Name #>;
			}
		}
<#
			}
		}
#>
	}
}<#
}

// generate context class
manager.StartNewFile(database.Name + "Context.cs");
#>namespace <#= namespaceTitle #>
{
	using System;
    using System.Collections.Generic;
	using System.Data;
	using NifflerConnection.Connection;

	public class <#= database.Name #>Context : NifflerContext
	{
		public <#= database.Name #>Context() :
			base(new <#= connection.ClassName() #>("<#= connectionString.Replace("\\", "\\\\") #>"))
		{
<#
			foreach (string tableName in tableNames) 
			{
#>			<#= tableName #>s = new DbTable<<#= tableName #>>(this);
<#
			}
#>
		}
<#
			foreach(string tableName in tableNames) {
			#>
		public virtual DbTable<<#= tableName #>> <#= tableName #>s { get; set; }
<#
			}
#>
	}
}<#

manager.Process();
#>